{
  "port": 3000,
  "ecr": {
    "timeout": 60000,
    "portName": "/dev/tty.usbserial-FT0KF2AH",
    "autoOpen": false,
    "baudRate": 9600,
    "dataBits": 7,
    "stopBits": 1,
    "parity": "even",
  }
}